<div class="quiz-container">
  <div class="quiz-form">
  <%= form_for(@quiz) do |f| %>
    <div class="quiz-form__card">
      <div class="form__group field">
        <%= f.text_field :style, class: 'form__field' %>
        <label for="name" class="form__label"><%= f.label :style %></label>
      </div>


      <div class="form__group field">
        <%= f.text_field :meaning, class: 'form__field' %>
        <label for="name" class="form__label"><%= f.label :meaning %></label>
      </div>

      <div class="form__group field">
        <%= f.text_field :category, class: 'form__field' %>
        <label for="name" class="form__label"><%= f.label :category %></label>
      </div>

      <div class="form__group field">
        <%= f.text_field :representation, class: 'form__field' %>
        <label for="name" class="form__label"><%= f.label :representation %></label>
      </div>


      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
