<div class="quiz-container">
  <div class="quiz-form">
  <%= form_for(@quiz) do |f| %>
    <div class="quiz-form__card">
      <%= f.label :style %>
      <%= f.text_field :style %>
      <%= f.label :meaning %>
      <%= f.text_field :meaning %>
      <%= f.label :category %>
      <%= f.text_field :category %>
      <%= f.label :representation %>
      <%= f.text_field :representation %>
      <%= f.submit %>
    </div>
  <% end %>  
</div>
</div>