<h1>Create a new Booking</h1>
<%= simple_form_for [current_user, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :request_id, :as => :hidden, input_html: { value: params[:request_id] } %>
  <%= f.button :submit %>
<% end %>
