<div class="container">
  <div class="menu">
    <div class="label">
      <%= link_to root_path do %>
      <%= image_tag "https://i.ibb.co/gZpHtmV/White-and-Red-Modern-Technology-Gaming-Logo.png", class: "logo" %>
      <% end %>
    </div>
    <div class="spacer"></div>
    <div class="item"><span>
      <% if user_signed_in? %>
      <%= link_to "Home", root_path, class: "nav-link" %>
    </span></div>
    <div class="item"><span>
       <% if current_user.artist %>
              <%= link_to 'Dashboard', dashboard_artist_path %>
        <% else %>
              <%= link_to 'Dashboard', dashboard_path %>
        <% end %>
    </span></div>
    <% end %>
    <div class="item"><span>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </span></div>
    <div class="item"><span>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </span></div>
    <div class="item"><span>
      <%= link_to "Artists", users_path, class: "nav-link" %>
    </span></div>
</div>
</div>
