<h1>Make a new request</h1>
<div class="request-container">
  <%= simple_form_for [current_user, @request] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :body_part %>
    <%= f.input :size %>
    <%= f.input :style %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
