<%= render 'navbar-dashboard' %>

<div class="main-dashboard-container">
  <div class="user-welcome">
    <div class="user-avatar">
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, class: "home-page__avatar"%>
      <% else %>
        <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1598905968/White-and-Red-Modern-Technology-Gaming-Logo_gjja8o_jkuqil.png" class="home-page__avatar">
      <% end %>
    </div>
    <div class="user-intro">
      <h1>Hi, <strong><%= current_user.first_name %>!</strong></h1>
      <p>Welcome back!</p>
    </div>
  </div>
  <div class="bookings-container">
    <div class="upcoming-bookings-container">
      <h3><i class="far fa-check-square"></i> Upcoming Bookings</h3>
      <div class="column-top">
        <p>Client</p>
        <p>Date</p>
        <p>Price</p>
        <p>Position</p>
        <p>Size</p>
        <p>More info</p>
      </div>

      <div class="upcoming-bookings-list">
        <% if current_user.bookings.confirmed.count == 0 %>
          <span class="booking-card__no">Currently no confirmed bookings</span>
        <% else %>
          <% current_user.bookings.confirmed.each do |b| %>
            <div class="confirmed-booking-details">
              <%= b.price %>
              <%= link_to " ☞ See More", user_bookings_path(current_user) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="pending-bookings-container">
      <h3><i class="far fa-clock"></i>  Pending Bookings</h3>
    </div>
  </div>
  <div class="contacts-container">
    <div class="requests-container">
      <h3><i class="fas fa-tasks"></i>  Requests</h3>
    </div>
    <div class="messages-container">
      <h3><i class="fas fa-inbox"></i>  Inbox</h3>
    </div>
  </div>
</div>
