<%= render 'navbar-dashboard' %>

<div class="main-dashboard-container">
  <div class="user-welcome">
    <div class="user-avatar">
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, class: "home-page__avatar"%>
      <% else %>
        <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1598905968/White-and-Red-Modern-Technology-Gaming-Logo_gjja8o_jkuqil.png" class="home-page__avatar">
      <% end %>
    </div>
    <div class="user-intro">
      <h1>Hi, <strong><%= current_user.first_name %>!</strong></h1>
      <p>Welcome back!</p>
    </div>
  </div>
  <div class="bookings-container">
    <div class="upcoming-bookings-container">
      <h3><i class="far fa-check-circle"></i></i> Upcoming Bookings</h3>
      <div class="column-top">
        <p>Client</p>
        <p>Date</p>
        <p>Price</p>
        <p>Body part</p>
        <p>Size</p>
        <p>More info</p>
      </div>
      <div class="upcoming-bookings-list">
        <% if current_user.bookings.confirmed.count == 0 %>
          <span class="booking-card__no">Currently no confirmed bookings</span>
        <% else %>
          <% current_user.bookings.confirmed.each do |b| %>
            <div class="confirmed-booking-details">
                <span class="confirmed-booking-container__name"><%= b.request.name %></span>
              <div class="confirmed-booking-date">
                <p><%= b.date.strftime("%I:%M%p") %></p>
                <p><%= b.date.strftime("%d/%m/%y") %></p>
              </div>
              <span class="confirmed-booking-container__details">£<%= b.price %></span>
              <span class="confirmed-booking-container__details"><%= b.request.body_part %></span>
              <span class="confirmed-booking-container__details"><%= b.request.size %>"</span>
              <%= link_to user_bookings_path(current_user) do %>
                <i class="far fa-plus-square"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="pending-bookings-container">
      <h3><i class="far fa-clock"></i>  Pending Client Confirmation</h3>
      <div class="column-top">
        <p>Client</p>
        <p>Date</p>
        <p>Price</p>
        <p>Body part</p>
        <p>Size</p>
        <p>More info</p>
      </div>
      <div class="upcoming-bookings-list">
        <% if current_user.bookings.unconfirmed.count == 0 %>
          <span class="booking-card__no">Currently no unconfirmed bookings</span>
        <% else %>
          <% current_user.bookings.unconfirmed.each do |b| %>
            <div class="confirmed-booking-details">
                <p><%= b.request.name %></p>
              <div class="confirmed-booking-date">
                <p><%= b.date.strftime("%I:%M%p") %></p>
                <p><%= b.date.strftime("%d/%m/%y") %></p>
              </div>
              <p>£<%= b.price %></p>
              <p><%= b.request.body_part %></p>
              <p><%= b.request.size %>"</p>
              <%= link_to user_bookings_path(current_user) do %>
                <i class="far fa-plus-square"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="contacts-container">
    <div class="requests-container">
      <h3><i class="fas fa-tasks"></i> Pending Requests</h3>
      <div class="column-top">
        <p>Client</p>
        <p>Picture</p>
        <p>Body part</p>
        <p>Size</p>
        <p>description</p>
        <p>More info</p>
      </div>
      <div class="upcoming-bookings-list">
        <% if current_user.requests.pending.count == 0 %>
          <span class="booking-card__no">Currently no pending requests</span>
        <% else %>
          <% current_user.requests.pending.each do |b| %>
            <div class="confirmed-booking-details">
              <span class="confirmed-booking-details__name"><%= b.name %></span>
              <div class="confirmed-booking-details__image-container">
                <% if b.photos.attached? %>
                  <%= cl_image_tag b.photos.first.key, class: "confirmed-booking-details__image"%>
                <% else %>
                  <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1598905968/White-and-Red-Modern-Technology-Gaming-Logo_gjja8o_jkuqil.png" class="confirmed-booking-details__image">
                <% end %>
              </div>
              <span class="confirmed-booking-details__detail"><%= b.body_part %></span>
              <span class="confirmed-booking-details__detail"><%= b.size %>"</span>
              <span class="confirmed-booking-details__descr"><%= b.description %> </span>
               <%= link_to user_requests_path(current_user) do %>
                <i class="far fa-plus-square"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="messages-container">
      <div class="messages-card__container">
        <h3 class="messages-card__title"><i class="fas fa-inbox"></i>  Inbox</h3>
        <div class="message-cards">
          <% @chatrooms.each do |chatroom| %>
              <% if @chatrooms.present? %>
                  <%= link_to request_chatroom_path(chatroom, chatroom.id), class: "message-card" do %>
                      <span class="message-card__name"><%= chatroom.name %></span>
                      <span class="message-card__content"><%= chatroom.messages.last %></span>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
