<% if current_user.artist %>
    <div class="user-container">
        <div class="user-nav">
            <ul class="user-nav__list">

                <li class="user-nav__li"><%= link_to 'Requests', user_requests_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Bookings', user_bookings_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Portfolio', user_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Messages', '', class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Edit', edit_user_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
            </ul>
        </div>
    </div>
<% else %>
    <div class="user-container">
        <div class="user-nav">
            <ul class="user-nav__list">
                <li class="user-nav__li"><%= link_to 'Requests', user_requests_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Bookings', user_bookings_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Messages', '', class:'btn btn-outline-light nav-margin dash-nav' %></li>
                <li class="user-nav__li"><%= link_to 'Edit', edit_user_path(current_user), class:'btn btn-outline-light nav-margin dash-nav' %></li>
            </ul>
        </div>
    </div>
<% end %>
