
<h1>Client Dashboard</h1>

<%= render 'navbar-dashboard' %>
<div class="home-page">
    <div class="home-page__welcome">
        <% if current_user != nil %>
            <% if current_user.avatar.present? %>
                <%= cl_image_tag current_user.avatar.key, class: "home-page__avatar"%>
            <% end %>
        <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
    </div>
    <div class="home-request-container">
        <div class="home-request-card__header">
            <h2>Your Requests</h2>
        </div>
        <%= current_user.requests.each do |d| %>
            <%= d %>
        <% end %>
        <% if current_user.requests.accepted != true %>
            <% current_user.requests.each do |r| %>
                <% if r.created_at == current_user.requests.earliest_date %>
                    <div class="home-request-card">
                        <div class="home-request-card__info-container">
                            <div class="home-request-card__image-container">
                                <% if r.photos.attached? %>
                                    <%= cl_image_tag r.photos.first.key, class: "home-request-card__image" %>
                                <% else %>
                                    <span>Photo</span>
                                <% end %>
                            </div>
                            <div class="home-request-card__info">
                                <span><%= r.name %></span>
                                <span><%= r.address %></span>
                            </div>
                            <div class="home-request-card__description-container">
                                <span><%= r.body_part %></span>
                                <span><%= r.size %></span>
                                <span><%= r.style %></span>
                                <span><%= r.description %></span>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="home-booking-container">
        <div class="home-booking-card__header">
            <h2>Upcoming Bookings</h2>
        </div>
        <% current_user.bookings.sort_bookings[0..2].each do |b| %>
            <div class="home-booking-card">
                <%= b.date %>
            </div>
        <% end %>
    </div>
    <div class="home-messages-container">
        <div class="home-messages-card__header">
            <h2>messages</h2>
        </div>
        <div class="home-messages-card">
            <p>bare messages</p>
        </div>
    </div>
</div>
