
<h1>Client Dashboard</h1>

<%= render 'navbar-dashboard' %>
<div class="home-page">
    <div class="home-page__welcome">
        <% if current_user != nil %>
            <% if current_user.avatar.present? %>
                <%= cl_image_tag current_user.avatar.key, class: "home-page__avatar"%>
            <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>    
        <% end %>
    </div>
    <div class="home-request-container">
        <div class="home-request-card__header">
            <h2>Your Requests</h2>
        </div>
        <% if current_user.made_requests.pending.count == 0 %>
                <span>currently no requests made</span>
        <% else %>
            <% current_user.made_requests.pending.each do |r| %>
                <div class="home-request-card">
                    <div class="home-request-card__info-container">
                        <div class="home-request-card__image-container">
                            <% if r.photos.attached? %>
                                <%= cl_image_tag r.photos.first.key, class: "home-request-card__image" %>
                            <% else %>
                                <span>Photo</span>
                            <% end %>
                        </div>
                        <div class="home-request-card__info">
                            <span><%= r.name %></span>
                            <span><%= r.address %></span>
                        </div>
                        <div class="home-request-card__description-container">
                            <span><%= r.body_part %></span>
                            <span><%= r.size %></span>
                            <span><%= r.style %></span>
                            <span><%= r.description %></span>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="home-booking-container">
        <div class="home-booking-card__header">
            <h2>Upcoming Bookings</h2>
        </div>
        <% if current_user.my_bookings.confirmed.count == 0 %>
            <span>No current Bookings</span>
        <% else %>
            <% current_user.my_bookings.confirmed.sort_bookings[0...1].each do |b| %>
                <div class="home-booking-card">
                    <%= b.date %>
                </div>
            <% end %>
        <% end %>
    </div>
     <div class="home-booking-container">
        <div class="home-booking-card__header">
            <h2>Pending Bookings</h2>
        </div>
        <% if current_user.my_bookings.unconfirmed.count == 0 %>
            <span>No current pending Bookings</span>
        <% else %>
        
            <% current_user.my_bookings.unconfirmed.sort_bookings[0..2].each do |b| %>
                <div class="home-booking-card">
                    <div class="home-booking-card__card">
                        <div class="home-booking-card__details">
                            <span><%= b.date %></span>
                            <span><%= b.address %></span>
                            <div class="request-card__button--accept">
                                <%= link_to 'Book', accept_booking_path(b), method: :patch %>
                            </div>
                            <div class="request-card__button--decline">
                                 <%= link_to 'Decline', booking_path(b), method: :delete %>
                            </div>
                        <div class="home-booking-card__avatar-details">
                            <% if current_user != nil %>
                                <% if b.user.avatar.present? %>
                                    <%= cl_image_tag b.user.avatar.key, class: "home-booking-card__avatar"%>
                                <% else %>
                                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                <% end %>    
                            <% end %>
                            <span class="home-booking-card__avatar-name"><%= b.user.first_name %> <%= b.user.last_name%> </span>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="home-messages-container">
        <div class="home-messages-card__header">
            <h2>messages</h2>
        </div>
        <div class="home-messages-card">
            <p>bare messages</p>
        </div>
    </div>
</div>
