<div class="container">
  <div class="welcome text center">
    <h1 class="upper">Welcome to InkFinder</h1>
    <h3 class="upper">Your tattoo journey begins here.</h3>


    <%= link_to "Your next tattoo", new_quiz_path, class: 'btn from-center home-page-btn-margin' %>
    <% if current_user %>
      <%= link_to "Search artists", users_path, class: 'btn from-center home-page-btn-margin'%>
    <% else %>
      <%= link_to "Make an artist", users_path, class: 'btn from-center home-page-btn-margin' %>
    <% end %>

</div>
    <%= link_to styles_path do %>
      <div class="pic-ctn">
        <img src="https://i.ibb.co/t3DLpVL/photo-1475695752828-6d2b0a83cf8a.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/xL0t935/photo-1510362753328-028a0e6b0e9b.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/5xFfWwX/photo-1552627019-947c3789ffb5.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/WcFb0cf/photo-1565058379802-bbe93b2f703a.jpg" alt="" class="pic">
      </div>
    <% end %>
</div>

<div class="container home-text">
  <p>
    InkFinder is a hub for tattoo enthusiasts which brings together both artists and clients alike.
    From first time buyers to seasoned pros, there is only one place to go for finding the perfect piece of art.
    Founded in 2020 by Fakhri Aslan and his friends, InkFinder is sure to be the next big thing in tattoos.
  </p>
</div>

<div class="empty-space"></div>

<div class="home-footer">

    <div class= "inline footer-width">
      <h2 class="underline">Get Social</h2>
       <div class="footer-social">
        <a href="#"><i class="fab fa-facebook icon-color"></i></a>
        <a href="#"><i class="fab fa-instagram icon-color"></i></a>
        <a href="#"><i class="fab fa-twitter icon-color"></i></a>
        <a href="#"><i class="fab fa-youtube icon-color"></i></a>
      </div>

      <ul>
        <li>
          <a href="#" class="list-link">Events</a>
        </li>
        <li>
        <%= link_to "Gallery", galleries_path , class: "list-link" %>
        </li>
        <li>
          <a href="#" class="list-link">Meet the team!</a>
        </li>
      </ul>
    </div>
      <div class = "footer-section about footer-width">
      <h2 class="logo-text underline"><span>InkFinder</span>.Design</h2>
      <p class="home-about">
        InkFinder is a hub for tattoo enthusiasts which brings together both artists and clients alike. From first time buyers to seasoned pros, there is only one place to go for finding the perfect piece of art.
        Founded in 2020 by Fakhri Aslan and his close buddies, InkFinder is sure to be the next big thing in tattoos.
      </p>
    </div>

    <div class="footer-section contact-form footer-width">
      <h2 class="underline">Contact us</h2>
      <form action="home.html" method="post">
        <div class="form-center">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address..">
          <textarea name="message" class="text-input contact-input-j" placeholder="Your message.." style="line-height: 3;"></textarea>
        </div>
        <button type="submit" class="btn btn-big contact-btn">
          Send
        </button>
      </form>
    </div>
  </div>









